a {
  padding: 2px;
}

a:hover {
  color: white;
  border: 1px solid rgba(255, 255, 0, 0.349);
  border-radius: 5px;
}
.nav{
 
  flex-wrap: nowrap;
}
.navbar{
  flex-wrap: nowrap;
}
#main{
  display: flex;
  flex-wrap: nowrap;
}
.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
  object-fit: contain;
}
.price_color {
  color: brown;
}
.table_margin {
  margin: 35px;
  padding-bottom: 20px;
}
.image_col {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
.btn-clr {
  background-color: rgba(169, 169, 169, 0.199);
  border-radius: 10px;
}
.button{
    font-size: small;
    font-weight:500;
    padding:0 10px ;
    color: hsl(0, 4%, 41%);
}
.button:hover{
    color: hsl(0, 4%, 41%);
}
.total{
    text-align: right;
}